{% extends 'base.html.twig' %}
{% form_theme registrationForm 'semantic_ui_form_theme.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class="ui centered grid container">
        <div class="nine wide column">
            <h1 class="ui center aligned icon header">
                <i class="circular adress book icon"></i>
                Register
            </h1>
            <div class="ui fluid card">
                <div class="content">
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {'label': 'Password'}) }}
                    <div class="field">
                        <button class="ui primary submit button" type="submit">
                            Register
                        </button>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
